<!DOCTYPE html>
<html>
<head>
    <title>Обновление работника</title>
</head>
<body>
<h1>Обновление работника</h1>
<form action="/admin/employees/{id}/editEmployee" method="post">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" th:value="${employee.id}" readonly><br><br>

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" th:placeholder="${employee.name}" required><br><br>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" th:placeholder="${employee.surname}" required><br><br>

    <label for="position">Должность:</label>
    <input type="text" id="position" name="position" th:placeholder="${employee.position}" required><br><br>

    <label for="salary">Зарплата:</label>
    <input type="text" id="salary" name="salary" th:placeholder="${employee.salary}" required><br><br>

    <label for="experience">Опыт работы:</label>
    <input type="text" id="experience" name="experience" th:placeholder="${employee.experience}" required><br><br>

    <label for="age">Возраст:</label>
    <input type="text" id="age" name="age" th:placeholder="${employee.age}" required><br><br>

    <label for="qualityOfWork">Качество работы:</label>
    <input type="text" id="qualityOfWork" name="qualityOfWork" th:placeholder="${employee.qualityOfWork}" required><br><br>

    <input type="submit" value="Обновить">
</form>
<a href="/admin/employee" class="button">Назад</a>

</body>
</html>